nav button {
  font-weight: 600;
  border: 2px solid #ffb300;
  color: #ffb300;
  background-color: transparent;
  margin: 0px 4px;
}

nav .active button {
  color: #ffdd33;
  border: 2px solid #ffdd33;
}

nav h1 {
  margin-left: 10px;
  height: 50px;
  text-shadow: 2px 4px 6px #00081ab7;
}

nav .first {
  margin-left: 10px;
}

nav img {
  position: absolute;
  opacity: 0.2;
  height: 142px;
  width: 720px;
  object-fit: cover;
  object-position: 0px -430px;
  border: 2px solid #0043df;
  border-radius: 0.3rem;
  z-index: -1;
}

.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.5rem 1.5rem;
  color: rgba(243, 244, 246, 1);
}

.login-title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;

}

.login-form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: #ffdd33;
}

.form-container a {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 8px 0 14px 0;
  text-decoration: none;
  font-size: 14px;
}

.form-container a:hover {
  color: #ffdd33;
  text-decoration: underline #ffdd33;
}

.form-container button {
  width: 100%;
  margin: 0px;
  font-weight: 500;
}

.login-sub {
  text-align: center;
  font-size: 0.875rem;
  color: rgba(156, 163, 175, 1);
}

.login-sub a {
  display: initial;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  color: #1b1b1b;
  width: 220px;
  height: 350px;
  position: relative;
  outline: 4px solid #ffb300;
  border-radius: 8px;
  line-height: 150%;
  background-blend-mode: multiply;
  background: linear-gradient(to top, #090f226c, #2b4c9246);
  transition: background-color 1s ease-in-out;
  overflow: hidden;
}

img {
  opacity: 1;
}

.card-front {
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.card:hover {
  outline: 4px solid #ffdd33;
  box-shadow: 0px 0px 24px -6px #0084ffb9;
}

.card:hover .card-front {
  transform: translateX(-100%);
}

.card-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  height: 55px;
}

.card-info {
  padding: 10px 16px;
  color: #e7e7e7;
  height: 300px;
}

.card-info p {
  margin: 10px 0px;
}

.alter-ego {
  color: #9dc4ff;
  font-weight: 500;
}

.card-info small {
  color: #a0a0a0;
}

.card button {
  font-size: 20px;
  font-weight: 500;
  margin: 0px 10px;
  padding: 4px;
  background-color: #3a63d7;
  width: 200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  padding: 0px;
  gap: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.alert {
  background-color: #87c1e7;
  border: 1px solid #68a2c9;
  border-radius: 5px;
  color: #003b6b;
  padding: 20px;
  text-align: center;
}

.warning {
  background-color: #e78787;
  border: 1px solid #c96868;
  border-radius: 5px;
  color: #6b0000;
  padding: 20px;
  text-align: center;
}